.footer {
  position: fixed;
  bottom: 0;

   display: flex;
   justify-content: flex-end;
}

.footer span {
  font-weight: 300;
  font-size: 9px;
}
.footer i {
  font-weight: 300;
  font-size: 9px;
}